'context-menu':
	'.overlayer':
		'ng-classify Preview':
			'Toggle CoffeeScript': 'ng-classify-preview:coffee'
			'Toggle JavaScript': 'ng-classify-preview:js'

'menu': [
	{
		'label': 'Packages'
		'submenu': [
			'label': 'ng-classify Preview'
			'submenu': [
				{
					'label': 'Toggle CoffeeScript'
					'command': 'ng-classify-preview:coffee'
				}
				{
					'label': 'Toggle JavaScript'
					'command': 'ng-classify-preview:js'
				}
			]
		]
	}
]